.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.FillerHeader{
  background-color: tomato;
  height: 20px;
  width: 600px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: inherit;
}

.MainBody
{
  box-sizing: border-box;
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 60%;
  position: relative;
  background-color: white;
}

.MainBody:before{
  content: '';
  border-radius: 1px 1px 0px 0px;
  background-color: tomato;
  position: absolute;
  height: 20px;
  width: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: inherit;
}

.SecondaryBody{
  background-color: white;
  height: auto;
  min-height: 100% !important;
}

.Title{
  margin:0px;
  margin-top:10px;
}

.Infotext{
  margin:0px;
}

.Dates{
  display:flex;
  justify-content: center;
  align-items: center;
}

.RunningButtons{
  display:flex;
  justify-content: center;
  align-items: center;
}

.MusicButtons{
  display:flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
